@model IEnumerable<Eticaret.Entity.Category>
<!-- seçilen kategorinin renginin active olması -->
@{
    var selectedCategory = Url.RequestContext.RouteData.Values["id"];
}
<ul class="list-group">
    <!-- bütün kategorileri sıralamamızı sağlar-->
    <a href="/Home/List" class="list-group-item">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        Tüm Kategoriler
    </a>


    @foreach (var item in Model)
    {
        <!-- eğer selectedCategory değeri boş değilse
             önce stringe, daha sonra int e çevir bunun sebebi category deki id nin int oluşudur
             eşitlik sorgulanırken aynı türde veri tipleri olmalıdır
            -->
        if (selectedCategory != null)
        {
            if (item.Id == int.Parse(selectedCategory.ToString()))
            {
                // seçilen kategori id ile route id si birbirine eşittir
                <!-- tıklandığında ilgili ıd ye ait listeyi getir-->
                <a href="/Home/List/@item.Id" class="list-group-item active">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    @item.Name
                </a>
            }
            else
            {
                <!-- tıklandığında ilgili ıd ye ait listeyi getir-->
                <a href="/Home/List/@item.Id" class="list-group-item">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    @item.Name
                </a>
            }
        }
        else
        {
            <!-- tıklandığında ilgili ıd ye ait listeyi getir-->
            <a href="/Home/List/@item.Id" class="list-group-item">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                @item.Name
            </a>
        }
    }
    
</ul>
